.gallery {
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

img {
  box-sizing: border-box;
  width: 350px;
  height: 300px;
}

.photo-card {
  width: 25%;
  margin: 15px 0;
}

.form-box {
  background-color: orange;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  background-color: orange;
}

p {
  margin: 0;
}
